html {
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

:root {
  --main-color: #66fcf1;
  --secondary-color: #45a29e;
  --third-color: #1f2833;
  --text-color: #c5c6c7;
  --max-width: 1180px;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

body {
  margin: 0;
  color: var(--text-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mw {
  max-width: 1180px;
  margin: 0 auto;
}

/*Toolbox styling*/

a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/*Header Navigation Styling*/

.nav-header {
  padding: 1rem;
  grid-area: header;
  box-shadow: 0px 5px 10px var(--secondary-color);
  z-index: 1;
  background: var(--third-color);
  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--third-color) 100%
  );
}

.nav-header nav {
  max-width: var(--max-width);
  margin: 0 auto;
  justify-content: space-between;
}

.nav-header a {
  font-weight: 500;
  letter-spacing: 0.5pt;
}

.nav-logo a {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: fit-content;
  padding: 1em 0;
}

.nav-logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25em;
}

/*searchbar*/

.searchbar {
  width: 100%;
  max-width: 600px;
  margin: 0 2rem;
  position: relative;
}

.searchbar input {
  position: relative;
  padding: 0.6em 1em;
  border-radius: 20px;
  border: 0;
  width: 100%;
  /* width: 300px; */
  box-shadow: var(--text-color) 0px 0px 8px 1px inset;
  font-size: 1rem;
}

.searchbar input:focus {
  outline: none;
  box-shadow: var(--text-color) 0px 0px 8px 1px;
}

/*search results*/
.search-results-container {
  background-color: white;
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  padding: 0.6em 1em;
  border-radius: 20px;
  z-index: 2;
  max-height: 300px;
  overflow-y: scroll;
}

.search-list,
.search-list a {
  margin: 0;
  padding: 0;
  color: black;
}

.search-list li {
  padding: 0.4em 0;
  list-style: none;
}

.search-list li:hover {
  background-color: #efefef;
  cursor: pointer;
}

/*hamburger*/

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu span {
  position: relative;
}

.hamburger-menu span,
.hamburger-menu span:before,
.hamburger-menu span:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 5px;
  rotate: 0;
  transition: all 0.25s linear;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
  position: absolute;
}

.hamburger-menu span:before {
  bottom: 0.85rem;
}

.hamburger-menu span:after {
  top: 0.85rem;
}

/*clicked hamburger menu*/
.hamburger-menu.clicked span {
  background: transparent;
}

.hamburger-menu.clicked span:before {
  bottom: 0;
  rotate: -135deg;
}
.hamburger-menu.clicked span:after {
  top: 0;
  rotate: 135deg;
}

/*menu and links*/
.menu.active {
  text-align: center;
}

.menu ul {
  list-style: none;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
}

.menu li a:hover {
  color: var(--text-color);
}

/*Main Content Styling*/

.content {
  background: var(--secondary-color);

  background: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--third-color) 100%
  );
  grid-area: content;
  padding: 3rem 1rem;
  overflow-x: auto;
  background-color: #1f2833;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2345a29e' fill-opacity='0.42' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.movies {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2rem;
}

.movies > * {
  grid-column: span 4;
}

/*content loading*/
#loading-content {
  color: var(--text-color);
  text-align: center;
}

/*Card Styling*/

.card {
  background: var(--third-color);
  background-image: radial-gradient(
    circle,
    var(--third-color) 0%,
    var(--secondary-color) 100%
  );
  color: var(--text-color);
  padding: 2rem 1.5rem;
  border-radius: 0 0 1rem 1rem;
  border: 2px solid var(--main-color);
  position: relative; /*Setting up the pseudo-hover effect*/
  /* z-index: 1; disable the hover effect, messes with search results */
}

/*pseudo hover effect*/
.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(
    circle,
    var(--secondary-color) 0%,
    var(--third-color) 100%
  );
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
  border-radius: 0 0 1rem 1rem;
}

.card:hover::before {
  opacity: 1;
}

.card img {
  margin-bottom: 2rem;
  width: 100%;
}

.card h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
}

.readmore-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  width: 100%;
  text-align: center;
  padding-top: 0.3em;
  color: var(--text-color);
}

/*movie details*/

.movie-details {
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--text-color);
  padding: 1rem;
  border-radius: 1rem;
}

.card.movie-details::before {
  border-radius: 1rem;
}

.details-thumbnail img {
  max-width: 350px;
  padding: 1rem;
  margin-bottom: 0;
}

.details-info {
  max-width: 60%;
  padding: 1rem;
}

.comma-after span::after {
  content: ", ";
}
.comma-after span:last-child:after {
  content: "";
}

.stats {
  margin-top: 1rem;
  justify-content: space-between;
}

.details-info-stat span,
.comma-after span {
  font-weight: bold;
}
.cast {
  padding: 1rem;
}

.cast-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cast-row article {
  padding: 1rem;
}

.cast-row article p {
  margin: 0.1rem 0;
}

img.actor-profile-pic {
  height: 200px;
  max-width: 133px;
  width: auto;
}

/*Footer Styling*/

footer {
  background-color: #1f2833;
  color: var(--text-color);
  padding: 2rem 0;
  grid-area: footer;
  z-index: 1;
  box-shadow: 0px -5px 10px var(--secondary-color);
}

footer p {
  color: var(--main-color);
  letter-spacing: 1pt;
}

footer .footer-logo {
  width: 80px;
}

/*Media Quieries*/

@media (max-width: 1180px) {
  .movies > * {
    grid-column: span 4;
  }
}

@media (max-width: 768px) {
  .movies > * {
    grid-column: span 6;
  }
  .movie-details {
    flex-direction: column;
  }
  .details-info {
    max-width: 100%;
  }
  .movie-details {
    display: flex;
    flex-direction: column;
  }
  .movie-details section {
    flex-direction: column;
  }
  .cast-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .nav-header nav {
    flex-wrap: wrap;
  }
  .searchbar {
    order: 3;
    margin: 0.6rem 0;
  }
  .movies > * {
    grid-column: col-start / span 12;
  }
}

@media (max-width: 480px) {
  .cast-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
