html {
  box-sizing: border-box;
  font-family: Garamond, serif;
}

:root {
  --main-color: #40128b;
  --secondary-color: #9336b4;
  --third-color: #dd58d6;
  --text-color: #ffe79b;
  --max-width: 1180px;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "sidebar"
    "footer";
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mw {
  max-width: 1180px;
  margin: 0 auto;
}

/*Toolbox styling*/

a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/*Header Navigation Styling*/

.nav-header {
  background-color: var(--main-color);
  padding: 1rem;
  grid-area: header;
}

.nav-header nav {
  max-width: var(--max-width);
  margin: 0 auto;
}

.nav-header a {
  font-weight: 500;
  letter-spacing: 0.5pt;
}

.nav-logo a {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: fit-content;
  padding: 1em 0;
}

.nav-logo img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25em;
}

/*Main Content Styling*/

.content {
  background-color: var(--secondary-color);
  grid-area: content;
  padding: 3rem 1rem;
}

.movies {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 2rem;
}

.movies > * {
  grid-column: col-start / span 12; /*100% Width*/
}

/*Card Styling*/

.card {
  background-color: #dd58d6;
  color: var(--text-color);
  padding: 2rem 1.5rem;
  /* width: 25%; */
  border-radius: 0 0 1rem 1rem;
}

.card img {
  margin-bottom: 2rem;
}

.card h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
}

/*Footer Styling*/

footer {
  background-color: #dd58d6;
  color: var(--text-color);
  padding: 2rem 0;
  grid-area: footer;
}

/*Media Quieries*/

@media (min-width: 600px) {
  .movies > * {
    grid-column: span 6; /*50% Width*/
  }
}

@media (min-width: 800px) {
  .movies > * {
    grid-column: span 4; /*33% Width*/
  }
}

@media (min-width: 1180px) {
  .movies > * {
    grid-column: span 3; /*25% Width*/
  }
}
